version: '3.8'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    volumes:
      - ./backend:/app
      - ./backend/app/static/images/home:/app/static/images/home
      - ./backend/app/static/images/campus_facilities:/app/static/images/campus_facilities
      - ./backend/app/static/images/about_founder:/app/static/images/about_founder
      - ./backend/app/static/images/chairman:/app/static/images/chairman
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    volumes:
      - ./frontend:/app:cached      
      - /app/node_modules  
    command: pnpm run dev

volumes:
  postgres_data:
