* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: "Inter", "Open Sans", system-ui, sans-serif;
    background: $bg;
    color: $text;
    min-height: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
  }

  